/* Headings */

.main-heading {
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  margin-top: 10vh;
  color: #ffff00;
  font-size: 50px;
}

.sub-heading {
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 15vh;
  color: #ffff00;
  font-size: 30px;
}

/* Backgrounds */

body {
  background-image: url("/assets/images/typewriter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Buttons */

.game-link {
  background: #ffff00;
  border: none;
  color: #ff0000;
  padding: 10px 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.btn-container {
    text-align: center;
    margin-top: 30px;
}
.homepage-btn-container {
    margin-top: 20vh;
    text-align: center;
}

/* Words Per Minute */

.game-box {
    text-align: center;
}

.time-test {
    width: 75%;
    height: 200px;
    background: #ffff00;
    text-align: center;
    margin-top: 10px;
}

.text-input {
    width: 75%;
    height: 75px;
    background: #ffff00;
    text-align: center;
    margin-top: 15px;
}

#textarea {
    height: 100%;
    width: 100%;
    display: block;
    border: 0;
    background-color: #ffff00;
    outline: none;
}

.wpm-score-container {
    text-align: center;
    width: 75%;
}

.wpm-score-div {
    text-align: center;
    background: #ffff00;
    width: 30px;
    height: 100px;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 25px;        
}

/* Text */

#excerpt-area {
    color: black;
    font-weight: 700;
    font-size: 30px;
    padding-top: 60px;
    }

.rules {
    text-align: center;
    background: #ffff00;
    width: 75%;
    padding:10px 10px 10px 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px; 
}

hr {
    display: block;
  border: solid 1px;
  width: 50%;
}

ol {
    text-align: center;
    display: inline-block;
}
li {
    text-align: left;
}