/* Headings */

.main-heading {
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}

.sub-heading {
    font-family: "Oswald", sans-serif;
    text-align: center;
}

/* Backgrounds */

body {
    background-image: url("/assets/images/typewriter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }